body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#color-container {
    width: 100vw;
    height: 100vh;
    background-color: red; /*Initial color*/
    transition: background-color 0.3s;
}
